<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">

	<title>Speech Emotion Detection Demo</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="/style.css">
</head>
<body>
	<h1>Speech Emotion Detection Demo</h1>
	<p>This demo is made possible with the help of <a href="https://github.com/addpipe/simple-web-audio-recorder-demo" target="_blank">WebAudioRecorder.js</a></p>
	<p>Link to the <a href="https://github.com/atulsnjena/Speech-Emotion-Recognition-Demo"><b>Source code (Github Repo)</b></a></p>
	<div style="max-width: 28em;">
		<p>Convert recorded audio to:</p>
		<select id="encodingTypeSelect">
        <option value="wav">Waveform Audio (.wav)</option>
		</select>
		<div id="controls">
			<button id="recordButton">Record</button>
			<button id="stopButton" disabled>Stop</button>
		</div>
		<div id="formats"></div>

		<pre>Recordings</pre>
		<ol id="recordingsList"></ol>
	</div>

	<!-- inserting these scripts at the end to be able to use all the elements in the DOM -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="/WebAudioRecorder.min.js"></script>
	<script src="/app.js"></script>

</body>
</html>
